* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: slategray;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    padding: 35px;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

nav ul li a,
nav ul li a img {
    text-decoration: none;
    color: black;
    font-size: 35px;
    transition: ease 0.3s;
    cursor: pointer;
}

nav ul li a:hover {
    animation: ease 0.7s;
    text-decoration: underline 1px solid white;
    color: white;
}

.img_item {
    display: block;
    margin-left: 20px;
    width: 400px;
}

aside {
    display: flexbox;
    width: 30%;
    float: right;
    height: 250px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

form ul li,
ul li,
ul li span a,
.category a {
    color: black !important;
    text-decoration: none !important;
    list-style-image: url('img/icons8-elemento-fuego-24.png');
}

aside ul {
    margin-right: 5%;
    display: flex-box;
    float: top;
}

ul {
    margin: 2% 5%;
    display: flex-box;
    float: left;
}

ul li {
    padding: 5px;
    list-style: square;
}

aside div h3 {
    font-size: large;
    font-weight: bold;
    margin-top: 10%;
}

aside p {
    font-size: larger;
    padding: 3%;
}

.formControl {
    margin: 10px;
}

.formLabel {
    margin: 10px;
}

h3 {
    text-align: center;
    text-decoration: underline double black;
}

.h1admin {
    text-align: center;
}

.listaItems {
    display: block;
    float: left;
    border: 1px black solid;
}

.btnAdmin {
    display: flex;
    justify-content: center;
}

.btnAdmin a button {
    padding: 15px;
    font-size: larger;
}

.itemView {
    display: flexbox;
    justify-content: space-between;
}

.imgContainer {
    display: flex;
    justify-content: center;
}

.icon {
    width: 50px;
}