nav{
    display: flex;
    justify-content: center;
}

nav ul{
    display: inline-flex;
    justify-content: center;
}

nav ul li{
    padding: 50px;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: larger;
}

nav ul li a:hover {
    text-decoration: underline 1px solid gray;
    color: gray;
}

.img_item {
    display: flex;
    margin-left: 15%;
    width: 400px;
}

aside {
    display: flexbox;
    width: 30%;
    float: right;
    height: 250px;
}

aside ul li, ul li, ul li span a{
    list-style: none;
    color: black;
    text-decoration: none;
}

aside div h3 {
    font-size: large;
    font-weight: bold;
    margin-top: 10%;
}

aside p {
    font-size: larger;
    padding: 3%;
}
/* 
div{
    display: ;
    width: 50%;
} */