*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: slategray;
}

nav{
    display: flex;
    justify-content: center;
}

nav ul{
    display: inline-flex;
    justify-content: center;
}

nav ul li{
    padding: 50px;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: larger;
}

nav ul li a:hover {
    animation: ease 0.7s;
    text-decoration: underline 1px solid white;
    color: white;
}

.img_item {
    display: block;
    margin-left: 20px;
    width: 400px;
}

aside {
    display: flexbox;
    width: 30%;
    float: right;
    height: 250px;
}

aside ul li, ul li, ul li span a{
    list-style: none !important;
    color: black !important;
    text-decoration: none !important;
}

.category a{
    list-style: none !important;
    color: black !important;
    text-decoration: none !important;
}

aside ul {
    margin-right: 5%;
    display: flex-box;
    float: top;
}
ul{
    margin: 2% 5%;
    display: flex-box;
    float: left;
}
ul li {
    padding: 5px;
    list-style: square;
}
aside div h3 {
    font-size: large;
    font-weight: bold;
    margin-top: 10%;
}

aside p {
    font-size: larger;
    padding: 3%;
}

.formControl {
    margin: 10px;
}

.formLabel {
    margin: 10px;
}

h3{
    text-align: center;
    text-decoration: underline double black;
}

.h1admin{
    text-align: center;
}

.listaItems{
    display: block;
    float: left;
    border: 1px black solid;
}

.itemView{
    display: flexbox;
    justify-content: space-between;
}

.imgContainer{
    display: flex;
    justify-content: center;
}